[submodule ".vim/bundle/snipmate"]
	path = .vim/bundle/snipmate
	url = git://github.com/spf13/snipmate.vim.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/spf13-vim-colors"]
	path = .vim/bundle/spf13-vim-colors
	url = git://github.com/spf13/vim-colors.git
[submodule ".vim/bundle/snipmate-snippets"]
	path = .vim/bundle/snipmate-snippets
	url = git://github.com/spf13/snipmate-snippets.git
[submodule ".vim/bundle/snipmate-snippets/snippets"]
	path = .vim/bundle/snipmate-snippets/snippets
	url = git://github.com/spf13/snipmate-snippets.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/delimitMate"]
	path = .vim/bundle/delimitMate
	url = http://github.com/Raimondi/delimitMate.git
[submodule ".vim/bundle/checksyntax"]
	path = .vim/bundle/checksyntax
	url = http://github.com/tomtom/checksyntax_vim.git
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = git://github.com/spf13/vim-markdown.git
[submodule ".vim/bundle/easytags"]
	path = .vim/bundle/easytags
	url = http://github.com/spf13/vim-easytags.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = git://github.com/spf13/vim-surround.git
[submodule ".vim/bundle/piv"]
	path = .vim/bundle/piv
	url = git://github.com/spf13/PIV.git
[submodule ".vim/bundle/VimDebugger"]
	path = .vim/bundle/VimDebugger
	url = git://github.com/taxilian/VimDebugger.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/spf13/nerdtree.git
[submodule ".vim/bundle/jslint"]
	path = .vim/bundle/jslint
	url = git://github.com/bloveridge/jslint.vim.git
[submodule ".vim/bundle/pyflakes"]
	path = .vim/bundle/pyflakes
	url = git://github.com/bloveridge/pyflakes-vim.git
[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/vim-json"]
	path = .vim/bundle/vim-json
	url = git://github.com/leshill/vim-json.git
